:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3385FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
}

.primaryButton{
  width: 75px;
  height: 36px;
  font-size:15px;
  font-family:Arial;
  border-width:1px;
  color:#ffffff;
  border-color:rgba(0, 102, 255, 1);
  border-radius: 8px;
  box-shadow: 2px 2px 15px -6px rgba(15, 15, 15, 1);
  background:rgba(0, 102, 255, 1);
}

.primaryButton:hover{
  background: rgb(39, 125, 255);
  cursor: pointer;
}

.secondaryButton {
  width: 75px;
  height: 36px;
  font-size:15px;
  font-family: Arial;
  border-width:1px;
  color:rgba(0, 0, 0, 1);
  border-color: rgba(0, 102, 255, 1);
  border-radius:8px;
  box-shadow: 2px 2px 15px -6px rgba(15, 15, 15, 1);
  background:#ededed;
}

.secondaryButton:hover {
  background: rgb(255, 255, 255)
}

.style1{
  color: black;
  font-size: 48px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.32px;
}

.style2{
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 19px;
  letter-spacing: -0.32px;
  color: #000000;
}